name: Auto Update Version
run-name: Move to ${{ github.ref_name }}

on:
  #changed to workflow_dispatch to disable auto trigger until we figure out the public/private repo issue
  workflow_dispatch:
    inputs:
      target:
        description: Target Tag
        required: true

jobs:
  update:
    runs-on: ubuntu-22.04
    steps:
      - name: update version
        id: update-version
        uses: blinemedical/action-update-version@v1
        with:
          target: ${{ github.ref_name }}
